<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<p><a href="/companies/<%=@company.id%>/addresses">display addresses</a> | <a href="/companies/<%=@company.id%>/addresses/new">add new address</a></p>
<p><a href="/companies/<%=@company.id%>/contacts">display contacts</a> | <a href="/companies/<%=@company.id%>/contacts/new">add new contact</a></p>

<h3>Contact Information for <%=@contact.company.name%></h3>
<a href="/companies/<%=@contact.company.id%>/contacts/<%=@contact.id%>/edit">edit contact</a>
<ul>
  <li>First Name: <%=@contact.first_name%></li>
  <li>Last Name: <%=@contact.last_name%></li>
  <li>Email: <%=@contact.email%></li>
  <li>Phone: <%=@contact.phone%></li>
</ul>
