<h2>Edit Company Information</h2>

<form action="/companies/<%=@company.id%>" method="post">

  <input type="text" name="name" placeholder="Company Name" value="<%=@company.name%>"><br>
  <input type="text" name="dba" placeholder="Doing Business As" value="<%=@company.dba%>"><br>
  <input type="text" name="address_1" placeholder="Address Line 1" value="<%=@company.address_1%>"><br>
  <input type="text" name="address_2" placeholder="Address Line 2" value="<%=@company.address_2%>"><br>
  <input type="text" name="city" placeholder="City" value="<%=@company.city%>"><br>
  <input type="text" name="state" placeholder="State/Province" value="<%=@company.state%>"><br>
  <select name="country_id">
    <% Country.all.each do |country| %>
      <option value="<%=country.id%>" <%='selected' if @company.country_id = country.id%>><%=country.name%></option>
    <% end %>
  </select><br>

  <input type="text" name="postal_code" placeholder="Postal Code" value="<%=@company.postal_code%>"><br>
  <input type="text" name="email" placeholder="Email" value="<%=@company.email%>"><br>
  <input type="text" name="phone" placeholder="Phone Number" value="<%=@company.phone%>"><br>

  <button type="submit">Save</button>
</form>
