<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<h2>Edit Company Information</h2>

<form action="/companies/<%=@company.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="company[name]" placeholder="Company Name" value="<%=@company.name%>"><br>
  <input type="text" name="company[dba]" placeholder="Doing Business As" value="<%=@company.dba%>"><br>
  <input type="text" name="company[address_1]" placeholder="Address Line 1" value="<%=@company.address_1%>"><br>
  <input type="text" name="company[address_2]" placeholder="Address Line 2" value="<%=@company.address_2%>"><br>
  <input type="text" name="company[city]" placeholder="City" value="<%=@company.city%>"><br>
  <input type="text" name="company[state]" placeholder="State/Province" value="<%=@company.state%>"><br>
  <select name="company[country_id]">
    <% Country.all.each do |country| %>
      <option value="<%=country.id%>" <%='selected' if @company.country_id = country.id%>><%=country.name%></option>
    <% end %>
  </select><br>

  <input type="text" name="company[postal_code]" placeholder="Postal Code" value="<%=@company.postal_code%>"><br>
  <input type="text" name="company[email]" placeholder="Email" value="<%=@company.email%>"><br>
  <input type="text" name="company[phone]" placeholder="Phone Number" value="<%=@company.phone%>"><br>
  <input type="text" name="company[revenue_code]" placeholder="Revenue Code" value="<%=@company.revenue_code%>"><br>

  <button type="submit">Save</button>
</form>
