<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<p><a href="/companies/<%=@company.id%>/addresses">display addresses</a> | <a href="/companies/<%=@company.id%>/addresses/new">add new address</a></p>
<p><a href="/companies/<%=@company.id%>/contacts">display contacts</a> | <a href="/companies/<%=@company.id%>/contacts/new">add new contact</a></p>
<h2>Company Information</h2>
<h3>Company Name: <%=@company.name%> <a href="/companies/<%=@company.id%>/edit"><em>edit</em></a></h3>
<% if !@company.dba.empty? %>
  <p>Doing Business As: <%=@company.dba%></p>
<% end %>
<p>Address 1: <%=@company.address_1%></p>
<p>Address 2: <%=@company.address_2%></p>
<p>City: <%=@company.city%></p>
<p>State: <%=@company.state%></p>
<p>Country: <%=@company.country.name%></p>
<p>Postal Code: <%=@company.postal_code%></p>
<p>Email: <%=@company.email%></p>
<p>Phone Number: <%=@company.phone%></p>
