<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<h3>Country List</h3>
<p><a href="/countries/new"><em>add country</em></a></p>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% Country.all.each do |country| %>
  <h3><%=country.name%> <a href="/countries/<%=country.slug%>/edit"><i>edit</i></a></h3>
  <ul>
    <li>ISO-2: <%=country.iso_2%></li>
    <li>ISO-3: <%=country.iso_3%></li>
    <li>ISO Numeric Code: <%=country.iso_numeric_3%></li>
  </ul>
<% end %>
