<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<h3>Edit Address Below for <%=@company.name%></h3>
<form action="/companies/<%=@company.id%>/addresses/<%=@address.id%>" method="post">

  <input type="text" name="address[name]" placeholder="Company Name" value="<%=@address.name%>"><br>
  <input type="text" name="address[dba]" placeholder="Doing Business As" value="<%=@address.dba%>"><br>
  <input type="text" name="address[address_1]" placeholder="Address Line 1" value="<%=@address.address_1%>"><br>
  <input type="text" name="address[address_2]" placeholder="Address Line 2" value="<%=@address.address_2%>"><br>
  <input type="text" name="address[city]" placeholder="City" value="<%=@address.city%>"><br>
  <input type="text" name="address[state]" placeholder="State/Province" value="<%=@address.state%>"><br>
  <select name="address[country_id]"><br>
    <% Country.all.each do |country| %>
      <option value="<%=country.id%>" <%='selected' if @address.country.id.eql?(country.id)%>><%=country.name%></option>
    <% end %>
  </select><br>
  <input type="text" name="address[postal_code]" placeholder="Postal Code" value="<%=@address.postal_code%>"><br>
  <input type="text" name="address[email]" placeholder="Email" value="<%=@address.email%>"><br>
  <input type="text" name="address[phone]" placeholder="Phone Number" value="<%=@address.phone%>"><br>
  <input type="hidden" name="address[is_billing_address]" value="false">
  <label for="billing_address">Billing Address: </label><input type="checkbox" name="address[is_billing_address]" id="billing_address" value="true" <%='checked' if @address.is_billing_address == true%>><br>
  <input type="hidden" name="address[is_shipping_address]" value="false">
  <label for="shipping_address">Shipping Address: </label><input type="checkbox" name="address[is_shipping_address]" id="shipping_address" value="true" <%='checked' if @address.is_shipping_address == true%>><br>

  <label for="main_contact">Main Contact: </label>
  <select name="address[company_contact_id]" id="main_contact">
    <% if !@address.company_contact_id.nil? %>
      <% @address.company.company_contacts.each do |contact| %>
        <option value="<%=contact.id%>" <%='selected' if contact.id.eql?(@address.company_contact_id)%>><%=contact.first_name%> <%=contact.last_name%></option>
      <% end %>
    <% else %>
      <% @address.company.company_contacts.each do |contact| %>
        <option value="<%=contact.id%>"><%=contact.first_name%> <%=contact.last_name%></option>
      <% end %>
    <% end %>
  </select>

  <br>
  <button type="submit">Save</button>

</form>
