<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<p><a href="/companies/<%=@company.id%>/addresses">display addresses</a> | <a href="/companies/<%=@company.id%>/addresses/new">add new address</a></p>
<h3>Company Address for <%=@company.name%></h3>

<p><button><a href="/companies/<%=@company.id%>/addresses/<%=@address.id%>/edit">edit</a></button></p>
<form method="post" action="/companies/<%=@company.id%>/addresses/<%=@address.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
<p>Company Name: <%=@address.name%></p>
<p>Doing Business As: <%=@address.dba%></p>
<p>Address Line 1: <%=@address.address_1%></p>
<p>Address Line 2: <%=@address.address_2%></p>
<p>City: <%=@address.city%></p>
<p>State: <%=@address.state%></p>
<p>Country: <%=@address.country.name%></p>
<p>Postal Code: <%=@address.postal_code%></p>
<p>Email: <%=@address.email%></p>
<p>Billing Address: <input type="checkbox" disabled <%='checked' if @address.is_billing_address == true%>>
<p>Shipping Address: <input type="checkbox" disabled <%='checked' if @address.is_shipping_address == true%>>
<% if !@address.company_contact.nil? %>
  <p>Main Contact: <%=@address.company_contact.first_name%> <%=@address.company_contact.last_name%> <a href="/companies/<%=@address.company.id%>/contacts/<%=@address.company_contact.id%>">view</a></p>
<% end %>
